{% extends 'temp_101/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
     <div class="row" x-data="get_blogs">
        <div class="row">
            <div class="col-8">
                {% include 'temp_101/table_form.html' %}
            </div>
        </div>

        <div class="row mt-3">
            {% include 'temp_101/table.html' %}
        </div>
    </div>
{% endblock %}


{% block extra_scripts %}
    {% include 'temp_101/partials/tableOperations.html' %}
    <script>


    </script>
{% endblock %}