{% extends 'temp_101/base.html' %} {% load crispy_forms_filters %} {% block content %}


<form x-on:submit="addBlog();">
  {% csrf_token %}
  <input type="text" name="title" id="title" /><br />
  <textarea name="description" id="description" cols="30" rows="10"></textarea
  ><br />
  <button>create blog</button>
</form>
<button x-on:click="deleteSelected();">Delete Selected</button>
<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table" x-data="tableOperations()">
      <thead>
        <tr>
          <th><input type="checkbox" onclick="checkAll(this)" /></th>
          <th>Title</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody id="tbody">
        <template
          x-for="(blog, index) in blogs"
          :key="blog.id"
        >
          <tr id="row" x-data="{'editable':false}">
            <td><input type="checkbox" name="id" :value="blog.id" x-model="blog.selected"/></td>
            <td>
              <p x-show="!editable" x-text="blog.title"></p>
              <input type="text" x-show="editable" x-model="blog.title">
            </td>
            <td>
                <p x-show="!editable" x-text="blog.description"></p>
                <input type="text" x-show="editable" x-model="blog.description">
            </td>
            <td>
              <div class="d-flex" >
                <a x-show="!editable" class="text-primary" x-on:click="updateBlog(blog, editable);">Edit</a> 
                <a x-show="editable" class="text-primary" x-on:click="updateBlog(blog, editable);">Submit</a>
                <a class="text-danger" x-on:click="deleteBlog(blog);">Delete</a>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block extra_scripts %} {% include 'temp_101/partials/tableOperations.html' %} {% endblock %}
